<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户详细信息</title>

    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet"/>
    <link href="../../Resources/bootstrap-3.3.0/fonts/glyphicons-halflings-regular.eot">
    <link href="../../Resources/bootstrap-3.3.0/fonts/glyphicons-halflings-regular.svg">
    <link href="assets/css/demo.css" rel="stylesheet"/>
    <link href="../../Resources/bootstrap-3.3.0/fonts/glyphicons-halflings-regular.ttf">
    <link href="../../Resources/bootstrap-3.3.0/fonts/glyphicons-halflings-regular.woff">

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" alt="..."/>
                </div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                        <h4 class="title">Chet Faker<br />
                            <a href="#"><small>@chetfaker</small></a>
                        </h4>
                    </div>
                    <p class="description text-center">
                        "I like the way you work it <br>
                        No diggity <br>
                        I wanna bag it up"
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5>12<br /><small>Files</small></h5>
                        </div>
                        <div class="col-md-4">
                            <h5>2GB<br /><small>Used</small></h5>
                        </div>
                        <div class="col-md-3">
                            <h5>24,6$<br /><small>Spent</small></h5>
                        </div>
                    </div>
                </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">用户个人信息</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>用户id</label>
                                    <input type="text" class="form-control border-input" disabled placeholder="Company" value="XXXXX">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>用户名</label>
                                    <input type="text" class="form-control border-input" placeholder="Username" value="michael23">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label >性别</label>
                                    <input type="email" class="form-control border-input" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>手机号码</label>
                                    <input type="text" class="form-control border-input" placeholder="Company" value="13110518698" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>邮箱</label>
                                    <input type="text" class="form-control border-input" placeholder="Last Name" value="hf941@qq.com" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>地址</label>
                                    <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>地区</label>
                                    <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>出生日期</label>
                                    <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>