<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Page - Ustora Demo</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/product.css"/>
    <script type="text/javascript" src="js/common.js"></script>

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var commodiyId = document.URL.split('?')[1].split("=")[1];
        $(document).ready(function () {

            $.ajax({
                cache: true,
                type: "GET",
                url: "http://139.129.48.197:8080/second/commodity/"+commodiyId,
                data: null,
                async: true,
                dataType: "json",
                error:function (xmlhttpRequest) {
                    alert(xmlhttpRequest.responseText);
                },
                success:function (data) {
                   var commodity = data.model;
                   $('#commodity_title').html(commodity.title);
                   $('#commodity_price').html(commodity.price);
                   $('#commodity_delivery').html(commodity.delivery);
                   $('#commodity_status').html(commodity.status);
                   $('#commodity_date').html(commodity.publishDate);
                   $('#commodity_user').html(commodity.userName);
                   $('#commodity_image').setAttribute("src",commodity.images[0]);
                }
            });
        });

        function buyNow() {
            $.ajax({
                cache: true,
                type: "GET",
                url: "http://139.129.48.197:8080/second/commodity/buy/"+commodiyId,
                data: null,
                async: true,
                dataType: "json",
                error:function (xmlhttpRequest) {
                    alert(xmlhttpRequest.responseText);
                },
                success:function (data) {
                    var commodity = data.model;
                    var imageUrl = commodity.images == null ? null : commodity.images[0];
                    $('#commodity_title').html(commodity.title);
                    $('#commodity_price').html(commodity.price);
                    $('#commodity_delivery').html(commodity.delivery);
                    $('#commodity_status').html(commodity.status);
                    $('#commodity_date').html(commodity.publishDate);
                    $('#commodity_user').html(commodity.userName);
                    $('#commodity_image').setAttribute("src",imageUrl);
                }
            });
        };
        function addCart() {
            $.ajax({
                cache: true,
                type: "GET",
                url: "http://139.129.48.197:8080/second/cart/add",
                data: {"commodityid":commodiyId},
                async: true,
                dataType: "json",
                error:function (xmlhttpRequest) {
                    alert("error" +xmlhttpRequest.responseText);
                    document.write(xmlhttpRequest.responseText);
                },
                success:function (data) {
                    window.location.href = data.model;
                }
            });
        };
    </script>
</head>
<body>

<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> 个人中心</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> 心愿单</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> 我的购物车</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> 支付</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>登陆</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>退出系统</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="./"><img src="img/logo.png"></a></h1>
                </div>
            </div>

            <div class="header-can">
                <div class="search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '';}">

                    </form>
                </div>

                <div class="col-md-5">
                    <button type="button" class="btn btn-danger">我要卖东西</button>
                </div>

            </div>
        </div>
    </div>  <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">首页</a></li>
                        <li><a href="shop.html">最新上线</a></li>

                        <li><a href="cart.html">摆件精品</a></li>
                        <li><a href="checkout.html">生活用品</a></li>
                        <li><a href="#">数码世界</a></li>
                        <li><a href="#">电子产品</a></li>
                        <li><a href="#">家用电器</a></li>
                        <li><a href="#">其它</a></li>
                        <li><a href="#">联系我们</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>  <!-- End mainmenu area -->


    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>商品的详细信息</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="location"><span class="icon"></span></div>
        <div class="box5">
            <div class="con_left">
                <img src="images/product_pic3.jpg" id="commmodity_image" alt="产品图片"/>
            </div>
            <form action="" method="post">
                <ul class="con_right">
                    <li class="title" id="commodity_title">神奇魔术变色杯</li>
                    <li>促&nbsp;&nbsp;销&nbsp;&nbsp;价： <span class="txt1" id="commodity_price">￥50.00</li>
                    <li>分类：<span>927&nbsp;条</span></li>
                    <li>配送方式：<span id="commodity_delivery"></span></li>
                    <li>支付方式：<span class="txt4" id="commodity_payment"></span></li>

                    <li>数量：<span  id="commodity_number" class="text4">1件</span></li>
                    <li class="txt7"><span id="commodity_status"></span></li>
                    <li class="txt7">买家：<span id="commodity_user"></span></li>
                    <li>发布日期：<span id="commodity_date"></span></li>

                    <li ><input class="btn btn-success" type="button" value="立即够买" onclick="buyNow()"/>
                        <input class="btn btn-warning" type="button" value="加入购物车" onclick="addCart()"/></li>
                </ul>
            </form>
        </div>
        <div class="box6">
            <div class="con_left">
                <div class="con_top">热门推荐</div>
                <div class="box_con">
                    <ul class="con_ul">
                        <li><a href="" title=""><img src="images/product_pic2.jpg" alt="产品图片"/></a></li>
                        <li class="left_name"><a href="#" title="">圆钻石结婚戒指雪花款</a></li>
                        <li class="left_price">单价：<span>￥999</span></li>
                    </ul>
                    <ul class="con_ul">
                        <li><a href="" title=""><img src="images/product_pic2.jpg" alt="产品图片"/></a></li>
                        <li class="left_name"><a href="#" title="">圆钻石结婚戒指雪花款</a></li>
                        <li class="left_price">单价：<span>￥999</span></li>
                    </ul>
                    <ul class="con_ul">
                        <li><a href="" title=""><img src="images/product_pic2.jpg" alt="产品图片"/></a></li>
                        <li class="left_name"><a href="#" title="">圆钻石结婚戒指雪花款</a></li>
                        <li class="left_price">单价：<span>￥999</span></li>
                    </ul>
                    <ul class="con_ul">
                        <li><a href="" title=""><img src="images/product_pic2.jpg" alt="产品图片"/></a></li>
                        <li class="left_name"><a href="#" title="">圆钻石结婚戒指雪花款</a></li>
                        <li class="left_price">单价：<span>￥999</span></li>
                    </ul>
                    <ul class="con_ul">
                        <li><a href="" title=""><img src="images/product_pic2.jpg" alt="产品图片"/></a></li>
                        <li class="left_name"><a href="#" title="">圆钻石结婚戒指雪花款</a></li>
                        <li class="left_price">单价：<span>￥999</span></li>
                    </ul>
                    <ul class="con_ul">
                        <li><a href="" title=""><img src="images/product_pic2.jpg" alt="产品图片"/></a></li>
                        <li class="left_name"><a href="#" title="">圆钻石结婚戒指雪花款</a></li>
                        <li class="left_price">单价：<span>￥999</span></li>
                    </ul>
                </div>
            </div>
            <div class="con_right">
                <ul class="tabs">
                    <li id="tb_1" class="hot" onmouseover="HoverLi(1,3,'tb_','in_')"><b></b><a class="hot1" href="#">商品详情</a><span></span>
                    </li>
                    <li id="tb_2" class="normaltab" onmouseover="HoverLi(2,3,'tb_','in_')"><b></b><a class="hot2"
                                                                                                     href="#">用户评价</a><span></span>
                    </li>
                    <li id="tb_3" class="normaltab" onmouseover="HoverLi(3,3,'tb_','in_')"><b></b><a class="hot3"
                                                                                                     href="#">商品销售记录</a><span></span>
                    </li>
                </ul>
                <div class="box_con1">
                    <div class="nohide" id="in_1">
                        <div>
                            <p class="title">神奇变色杯，浪漫一"辈"子！</p>
                            <p> 通过国际食品安全资格认证</p>
                            <p> 特级出口品，严格筛选，100个杯子，只有30-40个能达到出口标准！</p>
                            <p>即"FDA"无毒测试），确保安全健康</p>
                            <p>品牌承诺：质量问题免费退换，购物更放心！</p>
                            <p>中国美院设计师原创设计，进口设备与耗材，完美品质非一般小作坊可比！</p>
                            <li><img src="images/product_pic4.jpg" alt="图片"/></li>
                            <p><span class="title">好消息：</span>变色杯升级至磨砂效果，遮盖效果更佳，升级不加价！</p>
                            <li><img src="images/product_pic5.jpg" alt="图片"/></li>
                        </div>
                        <div class="box_con2">
                            <div class="con_top2">用户评价</div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">
                                        蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧
                                    </div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                        </div>
                        <div class="box_con3">
                            <div class="page2">
                                <a class="prev" href="#">上一页</a>
                                <a href="#">1</a><a class="current" href='#'>2</a><a href='#'>3</a><a href='#'>4</a><a
                                    href='#'>5</a><span class='text'>...</span><a href='#'>6</a>
                                <a class="next" href="#">下一页</a>
                            </div>
                        </div>
                    </div>
                    <div class="hide" id="in_2">
                        <div class="box_con2">
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">
                                        蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧
                                    </div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">
                                        蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧
                                    </div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">
                                        蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧
                                    </div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">
                                        蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧
                                    </div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧</div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                            <div class="com_con">
                                <div class="title_user"><a href="#" title="">alleny *** 说：</a></div>
                                <div class="com_con1">
                                    <div class="com_txt">
                                        蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错蛮不错，就是黑的时候图案有点明显，还有手柄那没图片，总体来说还不错，给个好评吧
                                    </div>
                                    <div class="com_time">2010/8/24/ 21:51</div>
                                </div>
                            </div>
                        </div>
                        <div class="box_con3">
                            <div class="page2">
                                <a class="prev" href="#">上一页</a><a href="#">1</a><a class="current" href='#'>2</a><a
                                    href='#'>3</a><a href='#'>4</a><a href='#'>5</a><span class='text'>...</span><a
                                    href='#'>6</a><a class="next" href="#">下一页</a>
                            </div>
                        </div>
                    </div>
                    <div class="hide" id="in_3">
                        <table>
                            <tr>
                                <th width="10%">买家</th>
                                <th width="60%">宝贝名称</th>
                                <th width="10%">购买数量</th>
                                <th width="20%">成交时间</th>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>kjioupp</strong></td>
                                <td>[1001－2000个买家信用积分，请点击查看详情] /O2 氧气生活/ 田园风格天然草编布艺收纳筐 大小2个入套装</td>
                                <td align="center">1</td>
                                <td align="center">2010-09-13 22:36:07</td>
                            </tr>
                        </table>
                        <div class="box_con3">
                            <div class="page2">
                                <a class="prev" href="#">上一页</a><a href="#">1</a><a class="current" href='#'>2</a><a
                                    href='#'>3</a><a href='#'>4</a><a href='#'>5</a><span class='text'>...</span><a
                                    href='#'>6</a><a class="next" href="#">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer class="footer-container">
        <!-- Footer Top Container -->
        <section class="footer-top">
            <div class="container content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 box-information">
                        <div class="module clearfix">
                            <h3 class="modtitle"> 资料</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="http://demo.smartaddons.com/templates/html/market/html/about-us.php">关于我们</a>
                                    </li>
                                    <li>
                                        <a href="http://demo.smartaddons.com/templates/html/market/html/faq.php">经常问到的问题</a>
                                    </li>
                                    <li>
                                        <a href="http://demo.smartaddons.com/templates/html/market/html/order-history.php">其他问题</a>
                                    </li>
                                    <li>
                                        <a href="http://demo.smartaddons.com/templates/html/market/html/order-information.php">订单问题</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 box-service">
                        <div class="module clearfix">
                            <h3 class="modtitle">售后服务</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="http://demo.smartaddons.com/templates/html/market/html/contact.php">联系我们</a>
                                    </li>
                                    <li>
                                        <a href="http://demo.smartaddons.com/templates/html/market/html/return.php">退货问题</a>
                                    </li>
                                    <li><a href="http://demo.smartaddons.com/templates/html/market/html/my-account.php">订单问题</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 box-account">
                        <div class="module clearfix">
                            <h3 class="modtitle">付款方式</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="#">支付宝支付</a></li>
                                    <li>
                                        <a href="http://demo.smartaddons.com/templates/html/market/html/gift-voucher.php">微信支付</a>
                                    </li>
                                    <li><a href="#">银行卡支付</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 collapsed-block ">
                        <div class="module clearfix">
                            <h3 class="modtitle">联系我们 </h3>
                            <div class="modcontent">
                                <ul class="contact-address">
                                    <li><span class="fa fa-envelope-o"></span> Email: <a href="#">
                                        sales@yourcompany.com</a></li>
                                    <li><span class="fa fa-phone">&nbsp;</span> Phone 1: 0123456789 <br>Phone 2: (123)
                                        4567890
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Latest jQuery form server -->
            <script src="https://code.jquery.com/jquery.min.js"></script>

            <!-- Bootstrap JS form CDN -->
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

            <!-- jQuery sticky menu -->
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.sticky.js"></script>

            <!-- jQuery easing -->
            <script src="js/jquery.easing.1.3.min.js"></script>

            <!-- Main Script -->
            <script src="js/main.js"></script>
        </section>
    </footer>
</div>
</body>
</html>