<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script href="../Resources/jquery-3.1.1.min.js"></script>
    <link href="../Resources/bootstrap-3.3.0/css/bootstrap.min.css">
    <link href="../Resources/bootstrap-3.3.0/css/bootstrap-theme.min.css">
    <script href="../Resources/bootstrap-3.3.0/js/bootstrap.min.js" ></script>

    <title>导航栏</title>
    <style>
        #nav{
            margin: 0 auto;
            width:100%;
        }
    </style>
</head>
    <nav class="navbar navbar-default " id="nav" role="navigation">
        <div class="container-fluid">
            <div>
                <a href="#" class="navbar-brand">校园二手</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><img class="img-circle" src="http://compusassistance.oss-cn-shanghai.aliyuncs.com/compusassistance/03faa779-3f37-45d3-af65-cf1cd82aabfd.jpg?x-oss-process=image/resize,m_fill,w_50,h_50,limit_0/auto-orient,0/quality,q_90/format,jpg" alt="用户头像"></li>
                    <li><a>用户名</a></li>
                    <li><a>购物车</a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>

    </nav>


<body>


</body>
</html>